body {
    margin: 0;
    overflow: hidden;
}

header {
    top: 0;
    position: fixed;
    background-color: #9EAFC1;
    display: flex;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100vw;
    height: 8vh;
    margin: 0;
}

header h1 {
    font-weight: 800;
    flex: 1;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    flex: 1;
}

.burger-menu {
    display: none;
}

.menu-overlay {
    display: none;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #fff;
    text-decoration: underline;
}

.flex-placeholder {
    width: 185px;
    visibility: hidden;
}

section {
    height: 100vh;
}

/* section:nth-child(1){
    background-color: #9EAFC1;
}
section:nth-child(2){
    background-color: #858585;
}
section:nth-child(3){
    background-color: #9EAFC1;
} */

.progress-bar{
    list-style-type: none;
}

.progress-bar li {
    padding: 20px;
}

.content-page-1, .content-page-2, .content-page-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "header header"
                         "sidebar content";
}

#content-1, #content-2, #content-3 {
    grid-area: 2 / 2 / 3 / 3;
}

.selection {
    transition: 0.75s;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.selection.active {
    color:#fff;
    transition: 0.75s;
}

#vat {
    width: 30vw;
}

aside {
    background-color: var(--light-gray);
    width: 20vw;
    float: left;
    height: 100vh;
    position: fixed;
    margin-top: 56.5px;
    z-index: -1; 
}

.btn-1 {
    background-color: #29537F;
    border-style: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.btn-1:hover {
    background-color: #1A2E44;
}

.btn-2 {
    background-color: #29537F;
    border-style: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}

.btn-2:hover {
    background-color: #1A2E44;
}

#add-product-btn{
    margin-bottom: 30px;
}


#product-table {
    border: solid;
    width: 60vw;
}

.hidden {
    display: none;
}

.select-product-popup-wrapper {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
  }

.select-product-popup {
    background-color: var(--light-gray);
    padding: 2px;
    border-radius: 5px;
    width: 35%;
  }
  
  .close {
    color: #000000d0;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: #F2F2F2;
    text-decoration: none;
    cursor: pointer;
  }
  
  .card {
      max-width: 500px;
      width: 30vw;
      min-width: 200px;
      margin: 0 auto;
      padding: 5px;
      border-radius: 15px;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }


@media only screen and (max-width: 900px) {
    
    body {
        margin: 0;
        overflow:auto;
    }

    aside {
        display: none;
    }
    
    .nav-web {
        display: none;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }

    .menu-overlay {
        display: block;
        position: fixed;
        top: -110vh;
        left: 0;
        background-color: #000000d0;
        z-index: 1;
        width: 101vw;
        height: 100vh;
        transition: 1s;
    }

    .active {
        top: 0;
    }

    .closebtn {
        position: absolute;
        top: 20px;
        right: 40px;
        font-size: 50px;
        color: #fff;
        cursor: pointer;
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .nav-links-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        padding-left: 0;
    }

    .nav-links-mobile li {
        list-style: none;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .nav-links-mobile li a {
        color: #fff;
        font-size: 26px;
        text-decoration: none;
    }

    .nav-links-mobile li a:hover {
        color: #fff;
        text-decoration: underline;
    }

}


@media only screen and (max-width: 648px) {
    .btn-1 {
        display: none;
    }

}

/* ---Formular Styling ----- */

  
  h2 {
    color: var(--primary-color);
  }
  
  form {
    max-width: 400px;
  }
  
  label {
    color: var(--primary-color);
    display: block;
    margin-bottom: 5px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--secondary-color);
  }
  
  input[type="date"],
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--secondary-color);
  }

  textarea[name="message"] {
    resize: none;
  }
  
  ::placeholder {
    color: var(--primary-color);
  }
  

table {
    border: 1px solid var(--primary-color);
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  th {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: 1px solid var(--primary-color);
    text-align: left;
  }
  
  td {
    padding: 10px;
    border: 1px solid var(--primary-color);
  }
  
  select,
  input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    color: var(--secondary-color);
  }
  
  p[onclick="addRow"] {
    background-color: var(--primary-color);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 40px;
  }
  
  p[onclick="addRow"]:hover {
    background-color: var(--secondary-color);
  }
  