.add-form {
    margin: 0 auto;
}

h1 {
    color: #9EAFC1
  }
  
  form {
    max-width: 400px;
  }
  
  label {
    color: var(--primary-color);
    display: block;
    margin-bottom: 5px;
  }

    select {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 16px;
        color: var(--secondary-color);
    }

    input[type="date"],
    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 16px;
        color: var(--secondary-color);
    }

    textarea[name="message"] {
        resize: none;
    }
    
    ::placeholder {
        color: var(--primary-color);
      }
      

    #Anrede {
        color: black
    }

    

    
    


