@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --black: #000000;
    --primary-color: #9EAFC1;
    --secondary-color: #1A2E44;
    --light-gray: #D4D7DB;
  }